Package: danbots-tools-3dtools
Version: 1.1.0-2
Architecture: all
Maintainer: Peter Holm <peter@lL-Holm.dk>
Depends: python3 (>=3.8), danbots-tools-lib3d
Section: tools/danbots
Priority: optional
Description: Tools for handling 3D point clouds.
 The package include the following tools:
 .
  compare3d  compare a pointclout to a refference stl or pointcloud
  trans3d    Make transfomation to pointcloud
  crop3d     Crop a pointcloud
  conv3d     Convert a pointcloud
  info3d     Print information on a poincloud
  mirror3d   Mirror a pointcloud
